<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SignUp</servlet-name>
  	<display-name>SignUp</display-name>
  	<description></description>
  	<servlet-class>controller.SignUp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignIn</servlet-name>
  	<display-name>SignIn</display-name>
  	<description></description>
  	<servlet-class>controller.SignIn</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogOut</servlet-name>
  	<display-name>LogOut</display-name>
  	<description></description>
  	<servlet-class>controller.LogOut</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateUser</servlet-name>
  	<display-name>UpdateUser</display-name>
  	<description></description>
  	<servlet-class>controller.UpdateUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FillBasket</servlet-name>
  	<display-name>FillBasket</display-name>
  	<description></description>
  	<servlet-class>controller.FillBasket</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoadBasket</servlet-name>
  	<display-name>LoadBasket</display-name>
  	<description></description>
  	<servlet-class>controller.LoadBasket</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoadBoard</servlet-name>
  	<display-name>LoadBoard</display-name>
  	<description></description>
  	<servlet-class>controller.LoadBoard</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Search</servlet-name>
  	<display-name>Search</display-name>
  	<description></description>
  	<servlet-class>controller.Search</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoadUserInfo</servlet-name>
  	<display-name>LoadUserInfo</display-name>
  	<description></description>
  	<servlet-class>controller.LoadUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SignUp</servlet-name>
  	<url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignIn</servlet-name>
  	<url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogOut</servlet-name>
  	<url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUser</servlet-name>
  	<url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FillBasket</servlet-name>
  	<url-pattern>/FillBasket</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoadBasket</servlet-name>
  	<url-pattern>/LoadBasket</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoadBoard</servlet-name>
  	<url-pattern>/LoadBoard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Search</servlet-name>
  	<url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoadUserInfo</servlet-name>
  	<url-pattern>/LoadUserInfo</url-pattern>
  </servlet-mapping>
</web-app>
