<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="database.mapper">
	
	<resultMap type="domain.Basket" id="basket">
		<constructor>
			<arg column="user_id" javaType="String"/>
			<arg column="prod_code" javaType="int"/>
			<arg column="prod_cnt" javaType="int"/>
		</constructor>
		<association property="product" javaType="domain.Product">
			<result column="prod_code" property="prod_code"/>
			<result column="prod_name" property="prod_name"/>
			<result column="prod_img1" property="prod_img1"/>
		</association>
	</resultMap>
	
	<resultMap type="domain.Board" id="boardLoad">
		<constructor>
			<arg column="bo_title" javaType="String"/>
			<arg column="bo_content" javaType="String"/>
			<arg column="bo_file" javaType="String"/>
			<arg column="user_id" javaType="String"/>
		</constructor>
		<result column="bo_no" property="bo_no"/>
		<result column="bo_title" property="bo_title"/>
		<result column="bo_date" property="bo_date"/>
		<association property="user" javaType="domain.User">
			<result column="user_nick" property="user_nick"/>
		</association>
	</resultMap>
	
	<resultMap type="domain.Board" id="boardView">
		<constructor>
			<arg column="bo_title" javaType="String"/>
			<arg column="bo_content" javaType="String"/>
			<arg column="bo_file" javaType="String"/>
			<arg column="user_id" javaType="String"/>
		</constructor>
		<result column="bo_no" property="bo_no"/>
		<result column="bo_title" property="bo_title"/>
		<result column="bo_content" property="bo_content"/>
		<result column="bo_date" property="bo_date"/>
		<result column="bo_likes" property="bo_likes"/>
		<association property="user" javaType="domain.User">
			<result column="user_nick" property="user_nick"/>
		</association>
	</resultMap>


	<select id="signUpCheckId" parameterType="domain.User">
		select user_id from tbl_user where user_id =#{user_id}
	</select>
	
	<insert id="signUp" parameterType="domain.User">
		insert into tbl_user values(#{user_id},#{user_pw},#{user_name},#{user_nick},#{user_gender},#{user_addr},#{user_phone},#{user_point, jdbcType=INTEGER},NOW(),#{user_type})
	</insert>
	
	<select id="signIn" parameterType="domain.User" resultType="domain.User">
		select user_id, user_nick from tbl_user where user_id=#{user_id} and user_pw=#{user_pw}
	</select>
	
	<insert id="fillBasket" parameterType="domain.Basket">
		insert into tbl_basket(user_id, prod_code, basket_date, prod_cnt) values(#{user_id},#{prod_code},NOW(),#{prod_cnt})
	</insert>
	
	<select id="searchBasket" parameterType="String" resultMap="basket">
		select prod_cnt, prod_code, prod_name, prod_img1 from tbl_basket, tbl_product where (tbl_bakset.user_id=#{user_idS}) and (tbl_basket.prod_code = tbl_product.prod_code)
	</select>
	
	<select id="loadBasket">
		select prod_cnt, prod_code, prod_name, prod_img1 from tbl_basket, tbl_product where (tbl_bakset.user_id=#{user_idS}) and (tbl_basket.prod_code = tbl_product.prod_code)
	</select>
	
	<select id="loadBoard" parameterType="int" resultMap="board">
		select tbl_board.bo_no, tbl_board.bo_title, tbl_board.bo_date, tbl_user.user_nick from tbl_board, tbl_user where user_id = tbl_user.user_id and (ROWNUM between 1 and 10)
	</select>
	
	<insert id="writeBoard" parameterType="domain.Board">
		insert into tbl_board(bo_title, bo_content, bo_file, bo_date, user_id) values(#{bo_title},#{bo_content},#{bo_file},NOW(),#{user_id})
	</insert>
	
	<select id="viewBoard" parameterType="domain.Board" resultType="boardView">
		select tbl_board.bo_no, tbl_board.bo_title, tbl_board.bo_content, tbl_board.bo_file, tbl_board.bo_date, tbl_uesr.user_nick, tbl_board.bo_likes from tbl_board, tbl_uesr where bo_no=#{bo_no}
	</select>
	
	<update id="updateBoard" parameterType="domain.Board">
		update tbl_board set bo_title=#{bo_title},bo_content=#{bo_content},bo_file=#{bo_file} where bo_no=#{bo_no}
	</update>
	
	<delete id="deleteBoard">
		delete from tbl_board where bo_no=#{bo_no}
	</delete>
	
	<insert id="insertComment" parameterType="domain.Comment">
		insert into tbl_commment(bo_seq, cmt_content, cmt_date, user_id) values(#{bo_seq),#{cmt_content},NOW(),#{user_id})
	</insert>
	
	
	
	
</mapper>